{% if options.new_tab %}
  {% set new_tab = 'target="_blank"' %}
{% endif %}

{% if options.bacolor is defined %}
  {% set bacolor = 'badge-' ~ options.bacolor %}
{% else %}
  {% set bacolor = 'badge-light' %}
{% endif %}

{% if options.badge is defined %}
  {% set badge = '<span class="badge ' ~  bacolor  ~'">' ~  options.badge ~ '</span>' %}
{% endif %}

{% if options.margin_top is defined %}
  {% set margin_top = 'mt-' ~ options.margin_top %}
{% endif %}

{% if options.margin_bottom is defined %}
  {% set margin_bottom = 'mb-' ~ options.margin_bottom %}
{% endif %}

<a class="btn btn-primary  {{ margin_top }} {{ margin_bottom }}" href="{{ link }}" {{ new_tab }}>{{ text }} {{ badge|raw}}</a>
