{% if options.text_align is defined %}
  {% set text_align = 'text-' ~ options.text_align %}
{% endif %}

{% if options.title_align is defined %}
  {% set title_align = 'text-' ~ options.title_align %}
{% endif %}

{% if options.align is defined %}
  {% set align = 'text-' ~ options.align %}
{% endif %}

<div class="card rounded-0 border-0 mb-1 {{ align }}">
  <div class="card-header rounded-0 bg-blue text-white p-1 {{ title_align }}">
    <strong>{{ title }}</strong>
  </div>
  <div class="card-body border-0 bg-grey pl-2 {{ text_align }}">
    {{ content }}
  </div>
</div>
